VIDEO_SOURCE=data/videos/test.mp4

CAMERA_ID=camera_1

EAR_THRESHOLD=0.25
FATIGUE_SECONDS=5

FRAME_WIDTH=640
FRAME_HEIGHT=480

DATABASE_PATH=data/database/events.db

OLLAMA_HOST=http://ollama:11434
OLLAMA_MODEL=llama3:8b

SNAPSHOT_DIR=data/snapshots